body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(135, 247, 163), rgb(236, 40, 143)); 
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

input {
    margin: 0 1rem;
}

button {
    height: 1.8rem;
    vertical-align: top;
    margin-left: 1rem;
}

.lightText {
    color: #f1e1e1;
}